<h1>Listing Owners</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
 
  <% @owners.each do |owner| %>
    <tr>
      <td><%= owner.name %></td>
      <td><%= link_to 'Show', owner_path(owner) %></td>
    </tr>
  <% end %>
</table>